body{
    background-color: #0D1282;
}

header {
    position: sticky;
    top: 0;
}

/*navbar*/
nav {
    position: relative;
    border-bottom: 1px solid black;
    z-index: 9999;
    background-color:#F0DE36
}
.nav-link {
    font-style: italic;
}
#place_btn-search {
    border: 1px solid white;
    color: black;
}
#place_btn-search:hover {
    background-color: #EF9595;
    color: black;
}
#place_search-input {
    border: 1px solid black;
}

/*main > select details inputs*/
#place_select-order-detail {
    border: 1px solid black;
    margin: 3px 10px ;
    padding: 0 0 50px 0;
    top: 85px;
    background-color: #F5E8B7;
}

#place_title {
    background-color: white;
    height: 50px;
    position: relative;
    margin-bottom: 10px;
}
p {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 3px;

}
form>div>div>div>input {
    margin-bottom: 10px;
}
label {
    font-weight: bold;
}

/*btns*/
#place_add-remove-btns {
    position: absolute;
    right: 20px;
}
#place_table {
    margin: 20px 10px 0 10px;
    border: 3px solid white;
}
#place_shop-name {
    width: fit-content;
    height: fit-content;
    margin: -1px 10px 0 -10px;
}
#place_shop-name>span {
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-style: italic;
}

/*total label*/
#place_total {
    position: absolute;
    right: 5vw;
    margin-top: 15px;
}
#place_btn-order {
    position: absolute;
    right: 200px;
    margin-top: 10px;
    padding-bottom: 10px;
}
#place_btn-order>button {
    color: black;
    background-color: #EF9595;
    border: 1px solid black;
}
#place_total>label{
    background-color: white;
}